@font-face {
    font-family: "Avatar" ;
    src: url("./fonts/Avatar-Airbender.ttf");
}

@font-face {
    font-family: "Bleach";
    src: url("./fonts/FontBleach.ttf");
}

@font-face {
    font-family: "Black-Clover";
    src: url("./fonts/BlackCloverFont.ttf");
}

@font-face {
    font-family: "AOT";
    src: url("./fonts/AOT.ttf");
}

@font-face {
    font-family: "Fairy-Tail";
    src: url("./fonts/FT.TTF");
}

@font-face {
    font-family: "MHA";
    src: url("./fonts/MHA.otf");
}

@font-face {
    font-family: "HXH";
    src: url("./fonts/HXH.ttf");
}


@font-face {
    font-family: "Death-Note";
    src: url("./fonts/Death-Note.ttf");
}

@font-face {
    font-family: "Jujutsu-Kaisen";
    src: url("./fonts/Jujutsu-Kaisen.ttf");
}

@font-face {
    font-family: "Naruto";
    src: url("./fonts/njnaruto.ttf");
}

@font-face {
    font-family: "One-Piece";
    src: url("./fonts/OnePiece-zAqL.ttf");
}

@font-face {
    font-family: "Pokemon-Hollow";
    src: url("./fonts/Pokemon-Hollow.ttf");
}

@font-face {
    font-family: "Pokemon-Solid";
    src: url("./fonts/Pokemon-Solid.ttf");
}

@font-face {
    font-family: "Saiyan-Sans";
    src: url("./fonts/Saiyan-Sans.ttf");
}

@font-face {
    font-family: "Saiyan-Sans-Left";
    src: url("./fonts/Saiyan-Sans-Left-Oblique.ttf");
}

@font-face {
    font-family: "Saiyan-Sans-Right";
    src: url("./fonts/Saiyan-Sans-Right-Oblique.ttf");
}

@font-face {
    font-family: "TG";
    src: url("./fonts/TG.TTF");
}





@import url('https://fonts.cdnfonts.com/css/futura-pt');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Futura PT', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body:before {
    content: "";
    position: absolute;
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.backgrounds-container,
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.background{
    object-fit: cover;
    opacity: 0;
    transition: opacity 5s ease-in-out;
}


.showing {
    opacity: 1;
}


.wrapper {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 100%;
    background-color:#ECECEB;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(24, 4, 65, 0.5);
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.container:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: -1;
    top: -10%;
    left: 10%;
}

.container p {
    color: rgb(118, 37, 37);
    line-height: 2;
    font-size: 20px;
    font-weight: 400;
}

.container h2 {
    color: rgb(57, 42, 42);
    margin:30px 0px 60px 0px;
    font-weight: 600;
    text-transform: capitalize;
}

.container button {
    background-color: #ffffff;
    border: none;
    padding: 15px 45px ;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(57, 42, 42);
    cursor: pointer;
}